<component name="libraryTable">
  <library name="spring-core-5.0.0.RELEASE">
    <CLASSES>
      <root url="jar://$PROJECT_DIR$/day3_JDBC/libs/spring-core-5.0.0.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/day3_JDBC/libs/spring-tx-5.0.0.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/day3_JDBC/libs/spring-jdbc-5.0.0.RELEASE.jar!/" />
    </CLASSES>
    <JAVADOC />
    <SOURCES />
  </library>
</component>